<%- include('partials/header') -%>

	<link href="/css/lake.css" rel="stylesheet" type="text/css" />
</head>
  <body>
    <div class="wrapper">
      <h1>The Lake</h1>
      <div class="grid">
        <% for(var i=0; i<posts.length; i++) {%>
          <div class="grid-item">
            <a href="/post/<%= posts[i]._id%>" >
            <figure>
              <!--space holder for image-->
              <p><%= posts[i]["body"] %></p>
              <span><%= posts[i]["title"] %></span>
            </figure>
            </a>
            <a href="/pond/<%=userNameArr[i]%>">
              <%=userNameArr[i]%>
            </a>
          </div>
        <% } %>  
      </div>
      <div class="button-box">
      <a class="button" href="/post">Create a Post</a>
      
      <a class="button" href="/logout">Logout</a>
    </div>
    </div>
    <script src="js/main.js"></script>

<%- include('partials/footer') -%>
