<%- include('partials/header') -%>
 <link href="/css/pond.css" rel="stylesheet" type="text/css" />
  <title>Your Profile Page: AKA "The Pond"</title>
 </head> 
<body>
   <div class="wrapper">
    <div class="name">
      <h1><%= user.userName %></h1>
      <%= user.firstName %> <%= user.lastName%>
    </div>
    <div class="wrapper wrapper2">
      <!-- <span>User's Profile</span>
      <p>PUT IN STUFF HERE</p>
      <p>THIS COULD BE A POST</p>
      <p>LALALALA</p>
      <p>ETC ETC ETC</p> -->
      <h2><%= user.userName %>'s Posts</h2>
      <% posts.forEach( (post) => { %>
      <div class="item">
        <h3><%= post.title %></h3>
        <%post.body.split('\n').forEach(p => {%>
        <p><%= p %></p>
        <%})%>
        <span>Likes: <%= post.likes %></span>
      </div>
      <% }); %>
    </div>
    <span>Return <a href="/lake">home</a></span>
    <script src="js/main.js"></script>


<%- include('partials/footer') -%>
