<%- include('../partials/header') -%>
   <link rel="stylesheet" href="/css/edit.css">
   </head>

   <body>
      <form action="/post/<%= id %>" method="POST">
         <!-- Method override to PUT -->
         <input type="hidden" name="_method" value="PUT">

         <!-- Title -->
         <h1>OnlyFish: Edit Your Post</h1>

         <label for="title">Title:</label>
         <input type="text" id="title" name="title" value="<%= post.title %>">

         <!-- Body -->
         <label for="body">Body:</label>
         <textarea name="body" id="body" cols="30" rows="10"><%= post.body %></textarea>

         <!-- Status -->
         <label for="status">Status: </label>
         <select name="status" id="status">
            <!-- Select appropriate option -->
            <%const options=['public', 'private' ];%>
               <%for (let option of options) {%>
                  <%const selected=post.status===option ? 'selected' : '' ;%>
                     <%const optionCap=option.charAt().toUpperCase() + option.slice(1);%>
                        <option value="<%=option%>" <%=selected%>><%=optionCap%>
                        </option>
                        <%}%>
                           <!-- error -->
         </select>


         <!-- Buttons -->
         <div class="button-box">
            <input class="button" type="submit" value="Submit">
            <a class="button" href="/post/<%= id %>">Cancel</a> <!-- Go back to post -->
         </div>

      </form>

      <%- include('../partials/footer') -%>