<%- include('../partials/header') -%>
   <link rel="stylesheet" href="/css/view.css">
  </head>
  <body>
    <!-- Add formatted content -->
  <div class="wrapper">
    <h1><%= post.title %>:</h1> 
      

    <%post.body.split('\n').forEach(p => {%>
    <p><%=p%></p>
    <%})%>
    </div>
    <!-- Link to author --> 
  
   <p><strong>Post author :  <a href="/pond/<%= author.userName %>"></strong><%= author.userName %></a> </p>
 
    <!-- Edit post
      TODO: Only show this form if the viewing user is the author
    -->
    
    <%if (user && user._id.toString() === author._id.toString()) {%>
    <form action="/post/edit/<%= post._id %>" method="GET">
     
      <button class="button">Edit</button>
    </form>
    <% } %>
  

    <!-- Delete post
      TODO: Only show this form if the viewing user can delete this post
      i.e. Post author or moderator
    -->
    <%if (user && user._id.toString() === author._id.toString()) {%>
    <form action="/post/<%= post._id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE" />
      <button class="button">Delete</button>
    </form>
    <% } %>
  

    <!-- Like post -->
      
    <form action="/post/<%= post._id %>/like" method="POST">
      <input type="hidden" name="_method" value="PUT" />
      <button class="button">Like!</button>
    
    </form>
    <p><strong>Number of likes:</strong> <%= post.likes %> </p> 
    <!-- TODO: Show number of likes on the post -->

    <a href="/lake" class="homeButton"> HOME </a>


<%- include('../partials/footer') -%>
