<%- include('../partials/header') -%>
  <link rel="stylesheet" href="/css/view.css">
  </head>

  <body>
    <!-- Add formatted content -->

    <!-- Title -->
    <h1>
      <%= post.title %>:
    </h1>

    <!-- Body -->
    <div class="content">
      <img src="<%= post.image %>">
      <textarea disabled name="body" id="body" cols="30" rows="10"><%= post.body %></textarea>
    </div>

    <!-- <%#post.body.split('\n').forEach(p=> {#%>
      <p>
        <%#=p#%>
      </p>
      <%#})#%> -->
    <!-- Link to author -->

    <p><strong>Post author : <a href="/pond/<%= author.userName %>"></strong>
      <%= author.userName %></a>
    </p>

    <div>
      <!-- Edit post -->
      <%if (user && user._id.toString()===author._id.toString()) {%>
        <form action="/post/edit/<%= post._id %>" method="GET">
          <button class="button">Edit</button>
        </form>
        <% } %>

          <!-- Delete post -->
          <%if (user && user._id.toString()===author._id.toString()) {%>
            <form action="/post/<%= post._id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE" />
              <button class="button">Delete</button>
            </form>
            <% } %>
    </div>

    <div>
      <!-- Like post -->
      <form action="/post/<%= post._id %>/like" method="POST">
        <input type="hidden" name="_method" value="PUT" />
        <button class="button">Like!</button>
      </form>
    </div>

    <p><strong>Number of likes:</strong>
      <%= post.likes %>
    </p>

    <a href="/lake" class="homeButton"> HOME </a>


    <%- include('../partials/footer') -%>