<%- include('../partials/header') -%>
   <link rel="stylesheet" href="/css/view.css">
  </head>
  <body>
    <!-- Add formatted content -->
   <h1><%= post.title %></h1> 
      
    
    <%post.body.split('\n').forEach(p => {%>
    <p><%=p%></p>
    <%})%>
    
    <!-- Link to author -->
  
   <a href="/pond/<%= author.userName %>"><%= author.userName %></a>

    <!-- Edit post
      TODO: Only show this form if the viewing user is the author
    -->
    
    <%if (user && user._id.toString() === author._id.toString()) {%>
    <form action="/post/edit/<%= post._id %>" method="GET">
     
      <button>Edit</button>
    </form>
    <% } %>
  

    <!-- Delete post
      TODO: Only show this form if the viewing user can delete this post
      i.e. Post author or moderator
    -->
    <%if (user && user._id.toString() === author._id.toString()) {%>
    <form action="/post/<%= post._id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE" />
      <button>Delete</button>
    </form>
    <% } %>
  

    <!-- Like post -->
      
     <button>Like!</button>
     <form action="/post/<%= post._id %>/like" method="POST">
      <input type="hidden" name="_method" value="PUT" />
    
    </form>
    <h3><%= post.likes %> </h3> 
    <!-- TODO: Show number of likes on the post -->

    <a href="/lake" class="homeButton"> HOME </a>


<%- include('../partials/footer') -%>
